@model IEnumerable<PharmacyManagmentSystem.Models.user>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create",null, new{@class="btn btn-default btn-sm"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.userName }, new { @class = "btn btn-info btn-sm" }) |
            @Html.ActionLink("Details", "Details", new { id = item.userName }, new { @class = "btn btn-primary btn-sm" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.userName }, new { @class = "btn btn-default btn-sm" })
        </td>
    </tr>
}

</table>
