@model PharmacyManagmentSystem.Models.productdetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>productdetail</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.productDetailId)

        <div class="form-group">
            @Html.LabelFor(model => model.productId, "productId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("productId", String.Empty)
                @Html.ValidationMessageFor(model => model.productId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.productSize)
                @Html.ValidationMessageFor(model => model.productSize)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
