@model PharmacyManagmentSystem.Models.employee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Edit Employee Information</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.firstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.lastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gender)
            </dd>
        </dl>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.empId)

        

        <div class="form-group">
            @Html.LabelFor(model => model.birthDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.birthDate)
                @Html.ValidationMessageFor(model => model.birthDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.mobile, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobile)
                @Html.ValidationMessageFor(model => model.mobile)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.deleted, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.deleted)
                @Html.ValidationMessageFor(model => model.deleted)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.joiningDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.joiningDate)
                @Html.ValidationMessageFor(model => model.joiningDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.designationId, "Designation", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("designationId", String.Empty)
                @Html.ValidationMessageFor(model => model.designationId)
                &nbsp;
                &nbsp;
                &nbsp;
                @Html.ActionLink("Add New Designation ", "Create", "Designation", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.departmentId, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("departmentId", String.Empty)
                @Html.ValidationMessageFor(model => model.departmentId)
                &nbsp;
                &nbsp;
                &nbsp;
                @Html.ActionLink("Add New Department", "Create", "Department", null, new { @class = "btn btn-info btn-sm" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.managerId, "Manager", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("managerId", String.Empty)
                @Html.ValidationMessageFor(model => model.managerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.address)
                @Html.ValidationMessageFor(model => model.address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.remarks)
                @Html.ValidationMessageFor(model => model.remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info btn-sm" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
            </div>
        </div>
    </div>
}
