@model PharmacyManagmentSystem.Models.category

@{
    ViewBag.Title = "Details";
}

<h2>Category Details</h2>

<div>
    <h4>category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.categoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoryUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoryUnit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.categoryId }, new { @class = "btn btn-info btn-sm" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
</p>
